.Felso{
    background-color: chocolate;
    width: 100%;
}
/*index.php*/
a{
    color: rgb(19, 59, 37);
    font-size: large;
}
.ful{
    float:left;
    width:120px;
    height:36px;
    margin: 0 2px;
    border-radius: 16px 16px 0 0;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;    
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
td{
    text-align: center;
    vertical-align: bottom;
    padding-right: 20px;
}
.forma{
    text-align:right;
    margin-left: auto;
    margin-right: auto;
}
.hatterkep{
    background-image: url("hatterkep.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
/*addnewui.php hez*/
.hatterek{
    background-size: auto;
    background-image: url("mindenhatter.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.addujtabla{
    width:100%;
    text-align: center;
    color:rgb(61, 99, 224);
    font-weight: bold;
    font-size: x-large;
}
.fileok{
    color:red;
}
/*kezdőoldal hirdetéseinek a kinézete*/
.hirdetesekindex{
    color:lightblue;
    font-weight: bold;
    font-size: x-large;
    background-color: rgba(143, 131, 88, 0.493);
}
a:link{
    color:lightgreen;
}
a:visited{
    color:white;
}
/*felhasználó adatainak a módositásának a kinézete*/
.modositasok{
    margin-left: auto;
    margin-right: auto;
    color:rgb(61, 99, 224);
    font-weight: bold;
    font-size: x-large;
    background-color: rgba(143, 131, 88, 0.493);
}
.modositbody{
    background-image: url("mindenhatter.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
/*felhasználói profil nevének változtatása*/
.profiluihatter{
    background-image: url("mindenhatter.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.profiluitabla{
    width:100%;
    text-align: center;
    color:rgb(61, 99, 224);
    font-weight: bold;
    font-size: x-large;
}
/*üzenetek küldése*/
.uzenetekhatter{
    background-image: url("mindenhatter.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.uzenetektable{
    width:100%;
    text-align: center;
    color:rgb(27, 58, 114);
    font-weight: bold;
    font-size: x-large;
}
/*üzeneteknek a háttere*/
.sendmessagehatter{
    background-image: url("mindenhatter.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
/*a regisztrációnak a kinézete*/
.hatter{
    background-image: url("regisztraciohatter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.asd{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
}
/*advertui kinézete*/
.felhhirdeteseihatter{
    background-image: url("regisztraciohatter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.tablaadv{
    width:100%;
    color:rgb(27, 58, 114);
    font-weight: bold;
    font-size: x-large;
}
.advh2{
    color:rgb(27, 58, 114);
    font-weight: bold;
    font-size: x-large;
}